body {
    background-image: -webkit-linear-gradient(left, #A8E6CE 50%, #DCEDC2 50%);
    background-image: -moz-linear-gradient(left, #A8E6CE 50%, #DCEDC2 50%);
    background-image: -o-linear-gradient(left, #A8E6CE 50%, #DCEDC2 50%);
    background-image: linear-gradient(to right, #A8E6CE 50%, #DCEDC2 50%);
}

#formContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 9px;
    
}


